	<div class="col-xs-12" ng-controller='createPoll'>
		<div class="row">
			<a href="#/dashboard" class='col-xs-1 col-xs-offset-11'>Cancel</a>
		</div>
		<div class="row">
			<label class='col-xs-12 control-label'>Put the question and options here:</label>
			<form name='frm' class='form form-horizontal col-xs-8'>
				<div class="form-group">
					<label for='question' class='col-xs-2'>Question:</label>
					<div class="col-xs-10">
						<input type='text' class='form-control' id='question' ng-model='poll.question' required ng-minlength='8'>
					</div>
				</div>
				<div class="form-group">
					<label for='option_1' class='col-xs-2'>Option 1:</label>
					<div class="col-xs-4">
						<input type='text' class='form-control' id='question' ng-model='poll.option_1' required ng-minlength='3'>
					</div>
				</div>
				<div class="form-group">
					<label for='option_1' class='col-xs-2'>Option 2:</label>
					<div class="col-xs-4">
						<input type='text' class='form-control' id='question' ng-model='poll.option_2' required ng-minlength='3'>
					</div>
				</div>
				<div class="form-group">
					<label for='option_3' class='col-xs-2'>Option 3:</label>
					<div class="col-xs-4">
						<input type='text' class='form-control' id='option_3' name='poll.option_3' ng-model='poll.option_3' required ng-minlength='3'>
					</div>
				</div>
				<div class="form-group">
					<label for='option_4' class='col-xs-2'>Option 4:</label>
					<div class="col-xs-4">
						<input type='text' class='form-control' id='option_4' name='option_4' ng-model='poll.option_4' required ng-minlength='3'>
					</div>
				</div>
				<div class="form-group">
					<button type='submit' class='btn btn-success col-xs-offset-10 col-xs-2' ng-disabled='frm.$invalid' ng-click='createPoll()'>Create Poll</button>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<span ng-show='frm.$dirty && frm.$error.required'>All fields are required</span>
				<span ng-show='frm.$dirty && frm.$error.minlength'>Too short</span>
			</div>
		</div>
	</div>
				