<div class="col-xs-12" ng-controller='dashboard'>
	<div class="row">
		<a href="#/create" class='col-xs-2 col-xs-offset-9'>Create a New Poll</a>
		<a href="#/" class='col-xs-1'>Logout</a>
	</div>
	<div class="row">
		<h4 class='col-xs-12'>Current Polls:</h4>
	</div>
	<div class="row">
		<form class='col-xs-5 col-xs-offset-7 form form-horizontal'>
			<label for='filter' class='control-label col-xs-2'>Search:</label>
			<div class="col-xs-10">
				<input type='text' class='form-control' ng-model='filter_name'>
			</div>
		</form>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-12"> <!-- This division not needed but helps with margin/paddings -->
				<table class='table table-bordered table-striped table-hover'>
					<tr>
						<th class='col-xs-2'>Name</th>
						<th class='col-xs-6'>Survey Question</th>
						<th class='col-xs-3'>Date Posted</th>
						<th class='col-xs-2'>Action</th>
					</tr>
					<tr ng-repeat='poll in polls | filter:filter_name'>
						<td>{{ poll.created_by }}</td>
						<td><a href="#/poll/{{ poll._id }}">{{ poll.question }}</a></td>
						<td>{{ poll.date | date: 'fullDate' }}</td>
						<td><button class='btn btn-danger' ng-click='delete({ id:poll._id, created_by:poll.created_by })'>Delete</button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>