*{
	margin: 0px; 
	padding: 0px; 
	font-family: sans-serif;
}
body {
	background-color: orange;  
}
.container {
	min-width: 960px; 
	max-width: 960px; 
	min-height: 500px;
	border-radius: 5px; 
	margin: 25px auto;   
	background-color: rgba(255,255,255,.8); 
	overflow: auto; 
}
.poll_table {
	max-height: 300px; 
}
.poll_table tr, th {
	background-color: white; 
	text-align: center; 
}
.polls {
	color: red; 
	font-weight: bold;
	text-decoration: underline;
	text-shadow: 0px 0px 5px blue;   
}



.test {
	background-color: rgba(250,0,0,.3); 
	border: 1px solid black; 
	overflow: auto; 
}
